body {
  background: url(1612908981_36-p-krasnii-fon-s-serdechkami-43.png);
  font-size: 16px;
  font-family:cursive;
}
.alina1 {
width: 500px;
}
.Заголовок {
  color: aliceblue;
}
.navigation {
  color: aliceblue;
}
.state {
color: aliceblue;
}
a {
  color: aliceblue;
}
.descr {
  color: aliceblue;
}
.info {
  margin: auto;
}